gateway/src/gateway/altGatewayFlow-notFinished.json
[{"id":"24dc8cca046fde9c","type":"tab","label":"gateway","disabled":false,"info":""},{"id":"4333919c8e791d32","type":"serial in","z":"24dc8cca046fde9c","d":true,"name":"InputFromTWR","serial":"423f9625e8eee3eb","x":100,"y":160,"wires":[[]]},{"id":"680aeeb1b6e57211","type":"debug","z":"24dc8cca046fde9c","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"2445bc4d9f084032","type":"inject","z":"24dc8cca046fde9c","name":"MockInput","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"# <D> {\"timeStamp\":\"2020-07-30T18:00:00.000Z\",\"topic\":\"btnClick\",\"value\":\"null\"}","payloadType":"str","x":100,"y":100,"wires":[["cb2f8d34aed1a3f4"]]},{"id":"cb2f8d34aed1a3f4","type":"function","z":"24dc8cca046fde9c","name":"parseToJSON","func":"\nlet JSONpayload = msg.payload\n\nJSONpayload = JSONpayload.split(\"<D> \")\nJSONpayload = JSONpayload[1]\n\nmsg.payload = JSONpayload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["e2e2f1508b77d954"]]},{"id":"e2e2f1508b77d954","type":"json","z":"24dc8cca046fde9c","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":160,"wires":[["660faec742dc4096"]]},{"id":"0fad26f3ce718046","type":"function","z":"24dc8cca046fde9c","name":"isBacklog","func":"var isBacklog = flow.get(\"isBacklog\");\n\nif (isBacklog) return null\nelse return msg\n\n\n","outputs":1,"noerr":1,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"isBacklog\", false)","finalize":"","libs":[],"x":420,"y":280,"wires":[["87aa0b85e293175c","680aeeb1b6e57211"]]},{"id":"87aa0b85e293175c","type":"http request","z":"24dc8cca046fde9c","d":true,"name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:3000/gateway/postData","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":300,"wires":[["680aeeb1b6e57211"]]},{"id":"660faec742dc4096","type":"function","z":"24dc8cca046fde9c","name":"BUFFER","func":"var bufferList = context.get(\"bufferList\");\nvar buffOpenIdx = context.get(\"buffOpenIdx\");\n\n\nbufferList[buffOpenIdx] = msg.payload\ncontext.set(\"bufferLsit\", bufferList);\n\nbuffOpenIdx++\ncontext.set(\"buffOpenIdx\", buffOpenIdx);\n\nif ((buffOpenIdx === bufferList.length) \n    || (msg.payload.value === \"EXERCISE_END\"\n        || \"EXERCISE_START\")){\n\n    msg.payload = [...bufferList]\n\n\n    //Clear node vars\n    context.set(\"bufferLsit\", bufferList.fill(undefined));\n    context.set(\"buffOpenIdx\", 0);\n\n\n    return msg;\n}\n\n","outputs":1,"noerr":9,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"bufferList\", new Array(10));\ncontext.set(\"buffOpenIdx\", 0);","finalize":"","libs":[],"x":120,"y":280,"wires":[["c4c42e127821b3f4"]]},{"id":"c4c42e127821b3f4","type":"function","z":"24dc8cca046fde9c","name":"Add ID","func":"var obj = {\n    id: msg._msgid,\n    data: msg.payload\n}\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":280,"wires":[["0fad26f3ce718046"]]},{"id":"423f9625e8eee3eb","type":"serial-port","name":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"low","rts":"low","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]