gateway/src/gateway/gateway.json
[{"id":"58c231dc7640863a","type":"tab","label":"gateway","disabled":false,"info":""},{"id":"b8cb6bd0ca699045","type":"serial in","z":"58c231dc7640863a","name":"InputFromTWR","serial":"423f9625e8eee3eb","x":100,"y":180,"wires":[["f5999943e026c2e7"]]},{"id":"5b2e38f834ae459b","type":"inject","z":"58c231dc7640863a","name":"get ts","props":[{"p":"ts","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":260,"wires":[["f0fe77796f2ec24e"]]},{"id":"f5999943e026c2e7","type":"function","z":"58c231dc7640863a","name":"parseToJSON","func":"let JSONpayload = msg.payload;\n\nJSONpayload = JSONpayload.split(\"<D> \");\nJSONpayload = JSONpayload[1];\nJSONpayload = JSON.parse(JSONpayload);\n\n\nmsg.payload = JSONpayload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["978fa109f6b327cc"]]},{"id":"69b47bbb4eda81d7","type":"http request","z":"58c231dc7640863a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7070/data/bulk","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":630,"y":420,"wires":[["9bbe206c3df178f4","763b19cede905ef3"]]},{"id":"c011914ac7b3df1c","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"CREATE TABLE BACKLOG (\n    id          INTEGER      PRIMARY KEY AUTOINCREMENT,\n    ts          INTEGER     NOT NULL,\n    event       INTEGER     NOT NULL,\n    value       FLOAT,\n    deviceToken VARCHAR(24) NOT NULL \n)","name":"CREATE TABLE BACKLOG","x":420,"y":40,"wires":[["4c0f18d026f3825a"]]},{"id":"13e5d3bccec2daf7","type":"inject","z":"58c231dc7640863a","name":"Press to create backlog db","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":40,"wires":[["c011914ac7b3df1c"]]},{"id":"4c0f18d026f3825a","type":"debug","z":"58c231dc7640863a","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":40,"wires":[]},{"id":"726f9788c9b6604d","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"msg.topic","sql":"","name":"Insert","x":610,"y":320,"wires":[["bba1c9052e2b90a6"]]},{"id":"498f19b6cabcf2bf","type":"function","z":"58c231dc7640863a","name":"write query","func":"var newMsg = {\n    \"topic\": \"INSERT INTO BACKLOG VALUES ( \" + null + \", \" + msg.payload.ts + \", \" + msg.payload.event + \", \" + msg.payload.value + \", '\" + msg.payload.deviceToken + \"')\"\n}\n\nreturn newMsg","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":870,"y":260,"wires":[["726f9788c9b6604d"]]},{"id":"3ffb3f073f43b49d","type":"inject","z":"58c231dc7640863a","name":"post interval","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"fire","payloadType":"str","x":100,"y":420,"wires":[["39294ca5d7df02db"]]},{"id":"584b68ad1fab4bbd","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT\n   id, ts, event, value, deviceToken\nFROM\n   BACKLOG\nORDER BY id\nLIMIT 100;","name":"select","x":490,"y":420,"wires":[["69b47bbb4eda81d7","763b19cede905ef3"]]},{"id":"9bbe206c3df178f4","type":"switch","z":"58c231dc7640863a","name":"if status 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":540,"wires":[["41193cd8ab9b45a6"],[]]},{"id":"b62e7082be572f98","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"msg.topic","sql":"Delete from backlog \nwhere id \nIN (Select id \n    from backlog \n    limit 2);\n","name":"delete items","x":510,"y":520,"wires":[["edaa4c544a2c1fe2"]]},{"id":"41193cd8ab9b45a6","type":"function","z":"58c231dc7640863a","name":"prepare delete items by IDs","func":"\nlet idsToDelete = []\n/*\nfor (const el of JSON.parse(msg.payload)){\n    idsToDelete.push(el.id)\n}\n*/\n\nidsToDelete = JSON.parse(msg.payload)\n\nidsToDelete.join()\n\nvar newMsg = {\n    \"topic\": \"Delete from backlog where id IN(\" + idsToDelete + \")\"\n}\n\nreturn newMsg\n\n\n\n","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":300,"y":520,"wires":[["b62e7082be572f98"]]},{"id":"ed8d3146c4e4cab3","type":"inject","z":"58c231dc7640863a","name":"Debug - show number of items in db","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":700,"wires":[["443b630d265fe278"]]},{"id":"443b630d265fe278","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT\n   COUNT()\nFROM\n   BACKLOG","name":"","x":490,"y":700,"wires":[["2da2210a816a9a2b"]]},{"id":"2da2210a816a9a2b","type":"debug","z":"58c231dc7640863a","name":"logs payload[0]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":700,"wires":[]},{"id":"f0fe77796f2ec24e","type":"function","z":"58c231dc7640863a","name":"MockInput-attach after \"InputFromTWR\"","func":"var ts = msg.ts\n\nvar newMsg = {\n    \"payload\": '# <D> { \"value\":\"3\", \"ts\": \"' + ts +'\", \"event\": \"2\", \"deviceToken\": \"R2D2\" }'\n//\"value\":\"null\",\n\n    //\"payload\": '# <D> { \"getTime\" : true}'\n}\n\nreturn newMsg;","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["f5999943e026c2e7"]]},{"id":"e1586ef4f42e36d4","type":"function","z":"58c231dc7640863a","name":"to debug attach after \"write quary\" node","func":"var c = flow.get(\"nItemBeforeInsert\");\nc++\nflow.set(\"nItemBeforeInsert\", c);\n\n","outputs":1,"noerr":2,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"nItemBeforeInsert\", 0);\n","finalize":"","libs":[],"x":360,"y":900,"wires":[[]]},{"id":"2d07b301d80f0d25","type":"function","z":"58c231dc7640863a","name":"to debug attach after \"Insert\" node","func":"var c = flow.get(\"nItemAfterInsert\");\nc++\nflow.set(\"nItemAfterInsert\", c);\n\n","outputs":1,"noerr":2,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"nItemAfterInsert\", 0);\n","finalize":"","libs":[],"x":340,"y":940,"wires":[[]]},{"id":"c2d292a60cd6c068","type":"debug","z":"58c231dc7640863a","name":"logs payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":840,"wires":[]},{"id":"52686c143ee61482","type":"inject","z":"58c231dc7640863a","name":"Show diff between data to insert and really writed inserts ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":840,"wires":[["d2c0fb41e0f3ad7a"]]},{"id":"d2c0fb41e0f3ad7a","type":"function","z":"58c231dc7640863a","name":"function 4","func":"var before = flow.get(\"nItemBeforeInsert\");\nvar after = flow.get(\"nItemAfterInsert\");\n\nvar msg = {payload : { before, after }}\nreturn msg\n\n","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":600,"y":840,"wires":[["c2d292a60cd6c068"]]},{"id":"831072df12273927","type":"comment","z":"58c231dc7640863a","name":"DEBUG NODES","info":"","x":140,"y":660,"wires":[]},{"id":"50396be753058231","type":"comment","z":"58c231dc7640863a","name":"DEBUG NODES - to test wether the DB is able write all Inserts","info":"","x":300,"y":800,"wires":[]},{"id":"bba1c9052e2b90a6","type":"function","z":"58c231dc7640863a","name":"inform to start posting data","func":"var isDBEmpty = flow.get('isDBEmpty') || true;\n\nif (isDBEmpty) {\n    flow.set(\"isDBEmpty\", false);\n}\n\n","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":800,"y":320,"wires":[[]]},{"id":"39294ca5d7df02db","type":"switch","z":"58c231dc7640863a","name":"post if db is NOT empty","property":"isDBEmpty","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":420,"wires":[["584b68ad1fab4bbd"]]},{"id":"df56ab043029930e","type":"function","z":"58c231dc7640863a","name":"inform to stop posting data","func":"if (msg.payload[0]['EXISTS (SELECT 1 FROM backlog)'] === 0) {\n    flow.set(\"isDBEmpty\", true);\n}\n\n/*\nvar newMsg ={\n    payload: msg.payload[0]['EXISTS (SELECT 1 FROM backlog)']\n}\n\nreturn newMsg\n*/","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":920,"y":520,"wires":[[]]},{"id":"edaa4c544a2c1fe2","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT EXISTS (SELECT 1 FROM backlog);\n","name":"check if db is empty","x":690,"y":520,"wires":[["df56ab043029930e"]]},{"id":"617e7d80f3cda46e","type":"comment","z":"58c231dc7640863a","name":"flow for storing data to DB and starting posting","info":"","x":190,"y":140,"wires":[]},{"id":"571304f975a27f84","type":"comment","z":"58c231dc7640863a","name":"flow for posting data in a interval if db is NOT empty","info":"","x":210,"y":360,"wires":[]},{"id":"978fa109f6b327cc","type":"switch","z":"58c231dc7640863a","name":"If getTime","property":"payload.getTime","propertyType":"msg","rules":[{"t":"true"},{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":180,"wires":[["a4553973f4c07329"],["b3695970b3425a01"]]},{"id":"7972f5c5bb54b365","type":"serial out","z":"58c231dc7640863a","name":"","serial":"423f9625e8eee3eb","x":790,"y":140,"wires":[]},{"id":"a4553973f4c07329","type":"function","z":"58c231dc7640863a","name":"Send time stamp","func":"\nvar newMsg = {\n    payload:Date.now()\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":140,"wires":[["7972f5c5bb54b365"]]},{"id":"b3695970b3425a01","type":"switch","z":"58c231dc7640863a","name":"If value is missing","property":"payload.value","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":220,"wires":[["224eecb78f30b7e2"],["498f19b6cabcf2bf"]]},{"id":"224eecb78f30b7e2","type":"change","z":"58c231dc7640863a","name":"add value atribut","rules":[{"t":"set","p":"payload.value","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":200,"wires":[["498f19b6cabcf2bf"]]},{"id":"8c4b21d4de8adb4f","type":"function","z":"58c231dc7640863a","name":"inform to start posting data","func":"var isDBEmpty = flow.get('isDBEmpty') || true;\n\nif (isDBEmpty) {\n    flow.set(\"isDBEmpty\", false);\n}\n\n","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":320,"y":1080,"wires":[[]]},{"id":"ab48d375153f1f23","type":"inject","z":"58c231dc7640863a","name":"Debug","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1080,"wires":[["8c4b21d4de8adb4f"]]},{"id":"d87ad9ef4e20f7eb","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT\n   id, ts, event, value, deviceToken\nFROM\n   BACKLOG\nORDER BY id\nLIMIT 1050;","name":"select","x":270,"y":1220,"wires":[["58d0e14c5ab64e3e"]]},{"id":"3a7746c5e3b93d74","type":"inject","z":"58c231dc7640863a","name":"Transform","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1220,"wires":[["d87ad9ef4e20f7eb"]]},{"id":"58d0e14c5ab64e3e","type":"split","z":"58c231dc7640863a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":1220,"wires":[["285abb216c15aca3"]]},{"id":"285abb216c15aca3","type":"change","z":"58c231dc7640863a","name":"","rules":[{"t":"set","p":"payload.deviceToken","pt":"msg","to":"R3D3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[["bb17c3ff163c738f"]]},{"id":"bb17c3ff163c738f","type":"function","z":"58c231dc7640863a","name":"write quary","func":"var newMsg = {\n    \"topic\": \"INSERT INTO BACKLOG VALUES ( \" + null + \", \" + msg.payload.ts + \", \" + msg.payload.event + \", \" + msg.payload.value + \", '\" + msg.payload.deviceToken + \"')\"\n}\n\nreturn newMsg","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":830,"y":1220,"wires":[["8a5336044a614f0a"]]},{"id":"8a5336044a614f0a","type":"sqlite","z":"58c231dc7640863a","mydb":"5568d2d1864f82f2","sqlquery":"msg.topic","sql":"","name":"Insert","x":990,"y":1220,"wires":[[]]},{"id":"763b19cede905ef3","type":"debug","z":"58c231dc7640863a","name":"Shows REQand RES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":1060,"wires":[]},{"id":"ce4eabf7decc2b21","type":"comment","z":"58c231dc7640863a","name":"DEBUG NODES - manualy set isDBEmpty to false","info":"","x":250,"y":1040,"wires":[]},{"id":"43b35148e5a1d93f","type":"comment","z":"58c231dc7640863a","name":"DEBUG NODES - transform items into new DB","info":"","x":240,"y":1180,"wires":[]},{"id":"423f9625e8eee3eb","type":"serial-port","name":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"low","rts":"low","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"0a7d2f90f7b774f7","type":"sqlitedb","db":"C:\\db\\sqlite","mode":"RWC"},{"id":"5568d2d1864f82f2","type":"sqlitedb","db":"C:\\db\\transformed","mode":"RWC"}]