gateway/src/gateway/gateway.json
[{"id":"c3fe7c117e2a0ae4","type":"tab","label":"gateway","disabled":false,"info":""},{"id":"8e272744b7d38971","type":"serial in","z":"c3fe7c117e2a0ae4","name":"InputFromTWR","serial":"423f9625e8eee3eb","x":100,"y":180,"wires":[["9c015fac50aa0585"]]},{"id":"20a17194e0741144","type":"inject","z":"c3fe7c117e2a0ae4","name":"get ts","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["ca9b48645f4fbc9d"]]},{"id":"9c015fac50aa0585","type":"function","z":"c3fe7c117e2a0ae4","name":"parseToJSON","func":"\nlet JSONpayload = msg.payload\n\nJSONpayload = JSONpayload.split(\"<D> \")\nJSONpayload = JSONpayload[1]\nJSONpayload = JSON.parse(JSONpayload)\n\nmsg.payload = JSONpayload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["a7962b6333f1fb18"]]},{"id":"3afc1671d98df4fb","type":"http request","z":"c3fe7c117e2a0ae4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:3000/gateway/postData","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":440,"wires":[["4889cded1f30bf90"]]},{"id":"dc1a9673ab38b308","type":"sqlite","z":"c3fe7c117e2a0ae4","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"CREATE TABLE BACKLOG (\n    id          INTEGER     PRIMARY KEY,\n    ts          INTEGER     NOT NULL,\n    event       INTEGER     NOT NULL,\n    value       FLOAT,\n    deviceToken VARCHAR(24) NOT NULL \n)","name":"CREATE TABLE BACKLOG","x":420,"y":40,"wires":[["3cecc7dd2ef047cb"]]},{"id":"8e6bc3fd9fa23981","type":"inject","z":"c3fe7c117e2a0ae4","name":"Press to create backlog db","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":40,"wires":[["dc1a9673ab38b308"]]},{"id":"3cecc7dd2ef047cb","type":"debug","z":"c3fe7c117e2a0ae4","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":40,"wires":[]},{"id":"e1e3995aba93c432","type":"sqlite","z":"c3fe7c117e2a0ae4","mydb":"0a7d2f90f7b774f7","sqlquery":"msg.topic","sql":"","name":"Insert","x":610,"y":180,"wires":[["2988628b5d5ed671"]]},{"id":"a7962b6333f1fb18","type":"function","z":"c3fe7c117e2a0ae4","name":"write quary","func":"var newMsg = {\n    \"topic\": \"INSERT INTO BACKLOG VALUES ( \" + null + \", \" + msg.payload.ts + \", \" + msg.payload.event + \", \" + msg.payload.value + \", '\" + msg.payload.deviceToken + \"')\"\n}\n\nreturn newMsg","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":470,"y":180,"wires":[["e1e3995aba93c432"]]},{"id":"c0c7c80cb9bc824c","type":"inject","z":"c3fe7c117e2a0ae4","name":"post interval","props":[{"p":"payload"}],"repeat":"15","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"fire","payloadType":"str","x":100,"y":380,"wires":[["fc53b0046b046586"]]},{"id":"5ed2fb978a50f526","type":"sqlite","z":"c3fe7c117e2a0ae4","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT\n   ts, event, value, deviceToken\nFROM\n   BACKLOG\nORDER BY id\nLIMIT 100;","name":"select","x":490,"y":380,"wires":[["945299884a6e3e65"]]},{"id":"945299884a6e3e65","type":"function","z":"c3fe7c117e2a0ae4","name":"count posted items","func":"//var nItemPosted = flow.get(\"nItemPosted\");\n\nvar nItemPosted = msg.payload.length\n\n\n\n\nflow.set(\"nItemPosted\", nItemPosted);\n\n\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":650,"y":380,"wires":[["38eb87c1f33152b5"]]},{"id":"4889cded1f30bf90","type":"switch","z":"c3fe7c117e2a0ae4","name":"if status","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":80,"y":520,"wires":[["1e45ec3a6ccb9825"],[]]},{"id":"f3e67edee920169e","type":"sqlite","z":"c3fe7c117e2a0ae4","mydb":"0a7d2f90f7b774f7","sqlquery":"msg.topic","sql":"Delete from backlog \nwhere id \nIN (Select id \n    from backlog \n    limit 2);\n","name":"delete items","x":470,"y":500,"wires":[["0380ad436c5aac1c"]]},{"id":"1e45ec3a6ccb9825","type":"function","z":"c3fe7c117e2a0ae4","name":"prepare delete n items","func":"var nItemPosted = flow.get(\"nItemPosted\");\n\nvar newMsg = {\n    \"topic\": \"Delete from backlog where id IN(Select id from backlog limit \" + nItemPosted + \")\"\n}\n\nreturn newMsg\n\n\n\n","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":280,"y":500,"wires":[["f3e67edee920169e"]]},{"id":"113b429cc599395c","type":"inject","z":"c3fe7c117e2a0ae4","name":"Debug - show numbero of items in db","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":700,"wires":[["e636a11b1c5bc62c"]]},{"id":"e636a11b1c5bc62c","type":"sqlite","z":"c3fe7c117e2a0ae4","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT\n   COUNT()\nFROM\n   BACKLOG","name":"","x":490,"y":700,"wires":[["5041348e0c9daf04"]]},{"id":"5041348e0c9daf04","type":"debug","z":"c3fe7c117e2a0ae4","name":"logs payload[0]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":700,"wires":[]},{"id":"ca9b48645f4fbc9d","type":"function","z":"c3fe7c117e2a0ae4","name":"MockInput-attach after \"InputFromTWR\"","func":"var ts = msg.payload\n\nvar newMsg = {\"payload\" : '# <D> { \"ts\": \"'+ ts +'\", \"event\": \"2\", \"value\": \"null\", \"deviceToken\": \"sd4s5a2ds1dsa6\" }'\n}\nreturn newMsg;","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[[]]},{"id":"8a635945f6c7411c","type":"function","z":"c3fe7c117e2a0ae4","name":"to debug attach after \"write quary\" node","func":"var c = flow.get(\"nItemBeforeInsert\");\nc++\nflow.set(\"nItemBeforeInsert\", c);\n\n","outputs":1,"noerr":2,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"nItemBeforeInsert\", 0);\n","finalize":"","libs":[],"x":360,"y":900,"wires":[[]]},{"id":"ffe94e3b29d4536c","type":"function","z":"c3fe7c117e2a0ae4","name":"to debug attach after \"Insert\" node","func":"var c = flow.get(\"nItemAfterInsert\");\nc++\nflow.set(\"nItemAfterInsert\", c);\n\n","outputs":1,"noerr":2,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"nItemAfterInsert\", 0);\n","finalize":"","libs":[],"x":340,"y":940,"wires":[[]]},{"id":"f2cfccbaa1d0fee2","type":"debug","z":"c3fe7c117e2a0ae4","name":"logs payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":840,"wires":[]},{"id":"f880a21eef5b51dd","type":"inject","z":"c3fe7c117e2a0ae4","name":"Show diff between data to insert and really writed inserts ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":840,"wires":[["f009073270acffb2"]]},{"id":"f009073270acffb2","type":"function","z":"c3fe7c117e2a0ae4","name":"function 4","func":"var before = flow.get(\"nItemBeforeInsert\");\nvar after = flow.get(\"nItemAfterInsert\");\n\nvar msg = {payload : { before, after }}\nreturn msg\n\n","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":600,"y":840,"wires":[["f2cfccbaa1d0fee2"]]},{"id":"37748f0f98d8eb16","type":"comment","z":"c3fe7c117e2a0ae4","name":"DEBUG NODES","info":"","x":140,"y":660,"wires":[]},{"id":"6ae281e5e61300fb","type":"comment","z":"c3fe7c117e2a0ae4","name":"DEBUG NODES - to test wether the DB is able write all Inserts","info":"","x":300,"y":800,"wires":[]},{"id":"38eb87c1f33152b5","type":"function","z":"c3fe7c117e2a0ae4","name":"set REQ timout","func":"msg.requestTimeout = 10000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":440,"wires":[["3afc1671d98df4fb"]]},{"id":"2988628b5d5ed671","type":"function","z":"c3fe7c117e2a0ae4","name":"inform to start posting data","func":"var isDBEmpty = flow.get('isDBEmpty') || true;\n\nif (isDBEmpty) {\n    flow.set(\"isDBEmpty\", false);\n}\n\n","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":800,"y":180,"wires":[[]]},{"id":"fc53b0046b046586","type":"switch","z":"c3fe7c117e2a0ae4","name":"post if db is NOT empty","property":"isDBEmpty","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":380,"wires":[["5ed2fb978a50f526"]]},{"id":"28c5e7221028150f","type":"function","z":"c3fe7c117e2a0ae4","name":"inform to stop posting data","func":"if (msg.payload[0]['EXISTS (SELECT 1 FROM backlog)'] === 0) {\n    flow.set(\"isDBEmpty\", true);\n}\n\n/*\nvar newMsg ={\n    payload: msg.payload[0]['EXISTS (SELECT 1 FROM backlog)']\n}\n\nreturn newMsg\n*/","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":640,"y":560,"wires":[[]]},{"id":"0380ad436c5aac1c","type":"sqlite","z":"c3fe7c117e2a0ae4","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT EXISTS (SELECT 1 FROM backlog);\n","name":"check if db is empty","x":650,"y":500,"wires":[["28c5e7221028150f"]]},{"id":"0a59b8e45c1eb77f","type":"comment","z":"c3fe7c117e2a0ae4","name":"flow for storing data to DB and starting posting","info":"","x":190,"y":140,"wires":[]},{"id":"0559cfe9aba05510","type":"comment","z":"c3fe7c117e2a0ae4","name":"flow for posting data in a interval if db is NOT empty","info":"","x":210,"y":340,"wires":[]},{"id":"423f9625e8eee3eb","type":"serial-port","name":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"low","rts":"low","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"0a7d2f90f7b774f7","type":"sqlitedb","db":"D:\\db\\sqlite","mode":"RWC"}]