gateway/src/gateway/old_gateway_counting_send_items..json
[{"id":"58c231dc7640863a","type":"tab","label":"gateway","disabled":false,"info":""},{"id":"b8cb6bd0ca699045","type":"serial in","z":"58c231dc7640863a","name":"InputFromTWR","serial":"423f9625e8eee3eb","x":100,"y":180,"wires":[["f5999943e026c2e7"]]},{"id":"5b2e38f834ae459b","type":"inject","z":"58c231dc7640863a","name":"get ts","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["f0fe77796f2ec24e"]]},{"id":"f5999943e026c2e7","type":"function","z":"58c231dc7640863a","name":"parseToJSON","func":"\nlet JSONpayload = msg.payload\n\nJSONpayload = JSONpayload.split(\"<D> \")\nJSONpayload = JSONpayload[1]\nJSONpayload = JSON.parse(JSONpayload)\n\nmsg.payload = JSONpayload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["498f19b6cabcf2bf"]]},{"id":"69b47bbb4eda81d7","type":"http request","z":"58c231dc7640863a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:3000/gateway/postData","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":440,"wires":[["9bbe206c3df178f4"]]},{"id":"c011914ac7b3df1c","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"CREATE TABLE BACKLOG (\n    id          INTEGER     AUTOINCREMENT PRIMARY KEY,\n    ts          INTEGER     NOT NULL,\n    event       INTEGER     NOT NULL,\n    value       FLOAT,\n    deviceToken VARCHAR(24) NOT NULL \n)","name":"CREATE TABLE BACKLOG","x":420,"y":40,"wires":[["4c0f18d026f3825a"]]},{"id":"13e5d3bccec2daf7","type":"inject","z":"58c231dc7640863a","name":"Press to create backlog db","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":40,"wires":[["c011914ac7b3df1c"]]},{"id":"4c0f18d026f3825a","type":"debug","z":"58c231dc7640863a","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":40,"wires":[]},{"id":"726f9788c9b6604d","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"msg.topic","sql":"","name":"Insert","x":610,"y":180,"wires":[["bba1c9052e2b90a6"]]},{"id":"498f19b6cabcf2bf","type":"function","z":"58c231dc7640863a","name":"write quary","func":"var newMsg = {\n    \"topic\": \"INSERT INTO BACKLOG VALUES ( \" + null + \", \" + msg.payload.ts + \", \" + msg.payload.event + \", \" + msg.payload.value + \", '\" + msg.payload.deviceToken + \"')\"\n}\n\nreturn newMsg","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":470,"y":180,"wires":[["726f9788c9b6604d"]]},{"id":"3ffb3f073f43b49d","type":"inject","z":"58c231dc7640863a","name":"post interval","props":[{"p":"payload"}],"repeat":"15","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"fire","payloadType":"str","x":100,"y":380,"wires":[["39294ca5d7df02db"]]},{"id":"584b68ad1fab4bbd","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT\n   id, ts, event, value, deviceToken\nFROM\n   BACKLOG\nORDER BY id\nLIMIT 100;","name":"select","x":490,"y":380,"wires":[["e3fb84044382ff71"]]},{"id":"e3fb84044382ff71","type":"function","z":"58c231dc7640863a","name":"count posted items","func":"//var nItemPosted = flow.get(\"nItemPosted\");\n\nvar nItemPosted = msg.payload.length\n\n\n\n\nflow.set(\"nItemPosted\", nItemPosted);\n\n\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":650,"y":380,"wires":[["165e5a18a08d61b2"]]},{"id":"9bbe206c3df178f4","type":"switch","z":"58c231dc7640863a","name":"if status","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":80,"y":520,"wires":[["41193cd8ab9b45a6"],[]]},{"id":"b62e7082be572f98","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"msg.topic","sql":"Delete from backlog \nwhere id \nIN (Select id \n    from backlog \n    limit 2);\n","name":"delete items","x":470,"y":500,"wires":[["edaa4c544a2c1fe2"]]},{"id":"41193cd8ab9b45a6","type":"function","z":"58c231dc7640863a","name":"prepare delete n items","func":"var nItemPosted = flow.get(\"nItemPosted\");\n\nvar newMsg = {\n    \"topic\": \"Delete from backlog where id IN(Select id from backlog limit \" + nItemPosted + \")\"\n}\n\nreturn newMsg\n\n\n\n","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":280,"y":500,"wires":[["b62e7082be572f98"]]},{"id":"ed8d3146c4e4cab3","type":"inject","z":"58c231dc7640863a","name":"Debug - show numbero of items in db","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":700,"wires":[["443b630d265fe278"]]},{"id":"443b630d265fe278","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT\n   COUNT()\nFROM\n   BACKLOG","name":"","x":490,"y":700,"wires":[["2da2210a816a9a2b"]]},{"id":"2da2210a816a9a2b","type":"debug","z":"58c231dc7640863a","name":"logs payload[0]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":700,"wires":[]},{"id":"f0fe77796f2ec24e","type":"function","z":"58c231dc7640863a","name":"MockInput-attach after \"InputFromTWR\"","func":"var ts = msg.payload\n\nvar newMsg = {\"payload\" : '# <D> { \"ts\": \"'+ ts +'\", \"event\": \"2\", \"value\": \"null\", \"deviceToken\": \"sd4s5a2ds1dsa6\" }'\n}\nreturn newMsg;","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[[]]},{"id":"e1586ef4f42e36d4","type":"function","z":"58c231dc7640863a","name":"to debug attach after \"write quary\" node","func":"var c = flow.get(\"nItemBeforeInsert\");\nc++\nflow.set(\"nItemBeforeInsert\", c);\n\n","outputs":1,"noerr":2,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"nItemBeforeInsert\", 0);\n","finalize":"","libs":[],"x":360,"y":900,"wires":[[]]},{"id":"2d07b301d80f0d25","type":"function","z":"58c231dc7640863a","name":"to debug attach after \"Insert\" node","func":"var c = flow.get(\"nItemAfterInsert\");\nc++\nflow.set(\"nItemAfterInsert\", c);\n\n","outputs":1,"noerr":2,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"nItemAfterInsert\", 0);\n","finalize":"","libs":[],"x":340,"y":940,"wires":[[]]},{"id":"c2d292a60cd6c068","type":"debug","z":"58c231dc7640863a","name":"logs payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":840,"wires":[]},{"id":"52686c143ee61482","type":"inject","z":"58c231dc7640863a","name":"Show diff between data to insert and really writed inserts ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":840,"wires":[["d2c0fb41e0f3ad7a"]]},{"id":"d2c0fb41e0f3ad7a","type":"function","z":"58c231dc7640863a","name":"function 4","func":"var before = flow.get(\"nItemBeforeInsert\");\nvar after = flow.get(\"nItemAfterInsert\");\n\nvar msg = {payload : { before, after }}\nreturn msg\n\n","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":600,"y":840,"wires":[["c2d292a60cd6c068"]]},{"id":"831072df12273927","type":"comment","z":"58c231dc7640863a","name":"DEBUG NODES","info":"","x":140,"y":660,"wires":[]},{"id":"50396be753058231","type":"comment","z":"58c231dc7640863a","name":"DEBUG NODES - to test wether the DB is able write all Inserts","info":"","x":300,"y":800,"wires":[]},{"id":"165e5a18a08d61b2","type":"function","z":"58c231dc7640863a","name":"set REQ timout","func":"msg.requestTimeout = 10000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":440,"wires":[["69b47bbb4eda81d7"]]},{"id":"bba1c9052e2b90a6","type":"function","z":"58c231dc7640863a","name":"inform to start posting data","func":"var isDBEmpty = flow.get('isDBEmpty') || true;\n\nif (isDBEmpty) {\n    flow.set(\"isDBEmpty\", false);\n}\n\n","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":800,"y":180,"wires":[[]]},{"id":"39294ca5d7df02db","type":"switch","z":"58c231dc7640863a","name":"post if db is NOT empty","property":"isDBEmpty","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":380,"wires":[["584b68ad1fab4bbd"]]},{"id":"df56ab043029930e","type":"function","z":"58c231dc7640863a","name":"inform to stop posting data","func":"if (msg.payload[0]['EXISTS (SELECT 1 FROM backlog)'] === 0) {\n    flow.set(\"isDBEmpty\", true);\n}\n\n/*\nvar newMsg ={\n    payload: msg.payload[0]['EXISTS (SELECT 1 FROM backlog)']\n}\n\nreturn newMsg\n*/","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":640,"y":560,"wires":[[]]},{"id":"edaa4c544a2c1fe2","type":"sqlite","z":"58c231dc7640863a","mydb":"0a7d2f90f7b774f7","sqlquery":"fixed","sql":"SELECT EXISTS (SELECT 1 FROM backlog);\n","name":"check if db is empty","x":650,"y":500,"wires":[["df56ab043029930e"]]},{"id":"617e7d80f3cda46e","type":"comment","z":"58c231dc7640863a","name":"flow for storing data to DB and starting posting","info":"","x":190,"y":140,"wires":[]},{"id":"571304f975a27f84","type":"comment","z":"58c231dc7640863a","name":"flow for posting data in a interval if db is NOT empty","info":"","x":210,"y":340,"wires":[]},{"id":"423f9625e8eee3eb","type":"serial-port","name":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"low","rts":"low","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"0a7d2f90f7b774f7","type":"sqlitedb","db":"D:\\db\\sqlite","mode":"RWC"}]