gateway/src/SendToDevice/flows.json
[{"id":"20282e0bf88ccd17","type":"tab","label":"Posilani na IoT device","disabled":false,"info":"","env":[]},{"id":"c326387ec94d91c9","type":"serial out","z":"20282e0bf88ccd17","d":true,"name":"","serial":"423f9625e8eee3eb","x":690,"y":120,"wires":[]},{"id":"e872a8e0fbcc32d3","type":"inject","z":"20282e0bf88ccd17","d":true,"name":"Click ME","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["6eaba1884984e8f0"]]},{"id":"6eaba1884984e8f0","type":"function","z":"20282e0bf88ccd17","d":true,"name":"Send time stamp","func":"\nvar newMsg = {\n    payload:msg.payload\n}\nreturn newMsg;","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":270,"y":100,"wires":[["c326387ec94d91c9"]]},{"id":"6db1d6bf3a4857a2","type":"serial in","z":"20282e0bf88ccd17","d":true,"name":"InputFromTWR","serial":"423f9625e8eee3eb","x":80,"y":300,"wires":[["0e5421d53a13b501","6cf095332a632dcf"]]},{"id":"0e5421d53a13b501","type":"function","z":"20282e0bf88ccd17","name":"parseToJSON","func":"let JSONpayload = msg.payload;\n\nJSONpayload = JSONpayload.split(\"<D> \");\nJSONpayload = JSONpayload[1];\nJSONpayload = JSON.parse(JSONpayload);\n\n\nmsg.payload = JSONpayload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":300,"wires":[["7e4199b3b8a14437"]]},{"id":"7e4199b3b8a14437","type":"switch","z":"20282e0bf88ccd17","name":"If getTime","property":"payload.getTime","propertyType":"msg","rules":[{"t":"true"},{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":300,"wires":[["b04918fb6a849108","7df5c1ee6fdc82d6"],["5fac95b4a6794d01"]]},{"id":"b04918fb6a849108","type":"function","z":"20282e0bf88ccd17","name":"Send time stamp","func":"\nvar newMsg = {\n    payload:Date.now()\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":260,"wires":[["73388bb836417bce","863da0295af391be"]]},{"id":"73388bb836417bce","type":"serial out","z":"20282e0bf88ccd17","name":"","serial":"423f9625e8eee3eb","x":770,"y":260,"wires":[]},{"id":"5fac95b4a6794d01","type":"debug","z":"20282e0bf88ccd17","name":"Exeption, no request for new time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":380,"wires":[]},{"id":"7df5c1ee6fdc82d6","type":"debug","z":"20282e0bf88ccd17","name":"Msg is ok, sending time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"863da0295af391be","type":"debug","z":"20282e0bf88ccd17","name":"Sending new time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"6cf095332a632dcf","type":"debug","z":"20282e0bf88ccd17","name":"Input from TWR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":220,"wires":[]},{"id":"423f9625e8eee3eb","type":"serial-port","name":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"low","rts":"low","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]