gateway/src/SendToDevice/flows.json
[{"id":"20282e0bf88ccd17","type":"tab","label":"Posilani na IoT device","disabled":false,"info":"","env":[]},{"id":"c326387ec94d91c9","type":"serial out","z":"20282e0bf88ccd17","name":"","serial":"423f9625e8eee3eb","x":690,"y":120,"wires":[]},{"id":"e872a8e0fbcc32d3","type":"inject","z":"20282e0bf88ccd17","name":"Click ME","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["6eaba1884984e8f0"]]},{"id":"6eaba1884984e8f0","type":"function","z":"20282e0bf88ccd17","name":"Send time stamp","func":"\nvar newMsg = {\n    payload:{\n            currentTime: msg.payload\n    }\n}\nreturn newMsg;","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":270,"y":100,"wires":[["b8fed420583509c1"]]},{"id":"144d5fe96b345260","type":"debug","z":"20282e0bf88ccd17","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":160,"wires":[]},{"id":"b8fed420583509c1","type":"json","z":"20282e0bf88ccd17","name":"","property":"payload","action":"","pretty":false,"x":430,"y":100,"wires":[["c326387ec94d91c9","144d5fe96b345260"]]},{"id":"423f9625e8eee3eb","type":"serial-port","name":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"low","rts":"low","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]